
<style type="text/css">



/* Text */
body,td,th, {
  font-family: 'Roboto', sans-serif;	
  margin: 0px;
  font-weight: 300;
  	padding: 0;
	padding-top: 15px;
	padding-bottom: 150px;

}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 8vw;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;	
  
}

li {
  
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
    letter-spacing: 0.04rem;
    font-weight: 300;
    margin: 0;
}


::selection {
  background: #ffa973;
  color: #ffffff;
  text-shadow: 0.01vw 0.01vw 0.4vw #ffbda3, 0.01vw 0.01vw 0.01vw #ffffff;
}

.heading { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 16px + (30 - 16) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 50;
    color: #000000;
    float: inherit;
    text-shadow: 1px 1px 3px #b8b8b8;
    background: none;  
 
}
.heading:link {text-decoration: none; color: #000000;}
.heading:visited {text-decoration: none; color: #000000;}
.heading:hover {text-decoration: none; color: #000000; background-color: transparent;}
.heading:active {text-decoration: none; color: #000000;}
.heading:focus {text-decoration: none;}


.headinglink { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 36px + (60 - 36) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: #000000;
    float: inherit;
    text-shadow: 1px 1px 3px #b8b8b8;
    background: none;
   }

.headinglink:link {text-decoration: none; color: #000000;}
.headinglink:visited {text-decoration: none; color: #000000;}
.headinglink:hover {text-decoration: none; color: #ff914c; transition: 0.2s; background-color: transparent;}
.headinglink:active {text-decoration: none; color: #ff914c;}
.headinglink:focus {text-decoration: none; color: #000; transition: 0.2s; cursor: pointer;}








.title { 
	width: 100%;
	max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: calc( 18px + (26 - 18) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.08rem;
    font-weight: 300;
   	padding: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2vw;
	padding-right: 0px;
	align-content: left;
	text-align: left;
}

.bodytext {
	width: 100%;
	max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: calc( 12px + (18 - 12) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.08rem;
    font-weight: 500;
   	padding: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2vw;
	padding-right: 2vw;
	align-content: left;
	text-align: left;
	overflow: break-word;
}


.infolink {
	width: 100%;
	max-width: 800px;
	align-content: left;
	text-align: left;
	overflow: break-word;
	font-weight: 100;
	padding: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2vw;
	padding-right: 0px;
	color: #7b7b7b;
}

.indexlinks {
	width: 100%;
	max-width: 800px;
	align-content: left;
	text-align: left;
	overflow: break-word;
	font-weight: 100;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 40px;
	padding-left: 2vw;
	padding-right: 0px;
	color: #7b7b7b;
}

.indextext {
	color: #7b7b7b;
	width: 100%;
	max-width: 800px;
	align-content: left;
	text-align: left;
	overflow: break-word;
	color: #000000;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
		font-size: calc( 8px + (15 - 8) * (100vw - 450px) / (1000 - 450) );
		font-weight: 500;
		text-align: left;

}

.curatortext {
	width: 100%;
	max-width: 800px;
	align-content: center;
	overflow: break-word;
	font-family: 'Roboto', sans-serif;
		font-size: calc( 8px + (15 - 8) * (100vw - 450px) / (1000 - 450) );
		font-weight: 500;
		text-align: left;
	padding: 0;
	color: #d2d2d2;

}

.infotext {
	width: 100%;
	max-width: 800px;
	align-content: center;
	overflow: break-word;
	font-family: 'Times', sans-serif;
		font-size: calc( 8px + (15 - 8) * (100vw - 450px) / (1000 - 450) );
		font-weight: 500;
		text-align: left;
	padding: 0;
	color: #d2d2d2;

}


.Textindent {
    text-indent: 50px;
    font-family: 'Roboto', sans-serif;
		font-size: calc( 18px + (22 - 18) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0 rem;
    font-weight: 500;
    color: #D6D6D6;
    float: left;
     
   }
   
   
   
   
   
   
   
   
/* Div Class */

/* Image Gallery */
.class1 {color: #7c7c7c; 
		font-family: 'Roboto', sans-serif;
		font-size: 0.7rem;
		padding-bottom: 0.7rem;
		}
.class1:link  {text-decoration: none; color: #000;}
.class1:visited {text-decoration: none; color: #000;}
.class1:hover {text-decoration: none; color: #000;}
.class1:active {text-decoration: none; color: #000;}

/* Download button */
.class2:link {text-decoration: none; color: #D6D6D6;}
.class2:visited {text-decoration: none; color: #D6D6D6;}
.class2:hover {text-decoration: none; color: #000; transition: 0.2s; cursor: pointer;}
.class2:active {text-decoration: none; color: #D6D6D6;}

/* External Links */
.class3 {color: #000; 
		font-family: 'Roboto', sans-serif;
		font-size: 0.7rem;
		font-weight: 300;

		}
.class3:link  {text-decoration: none; color: #000;}
.class3:visited {text-decoration: none; color: #000;}
.class3:hover {text-decoration: none; color: #ff914c; transition: 0.2s; cursor: pointer;}
.class3:active {text-decoration: none; color: #000;}








/* Exhibition Links */
.class4	{
	 color: #000000;
	 text-decoration: none;
	 font-family: 'Roboto', sans-serif;
		font-size: calc( 18px + (26 - 18) * (100vw - 450px) / (1000 - 450) );
		font-weight: 300;
		text-align: left;
		display: block;
		
		text-overflow: ellipsis;

  white-space: nowrap;
  overflow: hidden;
		
		
}
.class4:link {text-decoration: none; color: #000000;}
.class4:visited {text-decoration: none; color: #000000;}
.class4:hover {text-decoration: none; color: #ff914c; transition: 0.2s; background-color: transparent;}
.class4:active {text-decoration: none; color: #ff914c;}
.class4:focus {text-decoration: none; color: #000; transition: 0.2s; cursor: pointer;}








/* Navbar Links */
.class5	{
	 color: #000;
	  text-decoration: none;
	 font-family: 'Roboto', sans-serif;
		font-size: calc( 18px + (26 - 18) * (100vw - 450px) / (1000 - 450) );
		font-weight: 500;
		text-align: right;
		
		
}
.class5:link {text-decoration: none; color: #000;}
.class5:visited {text-decoration: none; color: #000;}
.class5:hover {text-decoration: none; color: #ff914c; transition: 0.2s; background-color: transparent;}
.class5:active {text-decoration: none; color: #ff914c;}
.class5:focus {text-decoration: none; color: #000; transition: 0.2s; cursor: pointer;}











/* images */
.imageL {
	width: 100%;
	max-width: 1000px;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 40px;
}

.imageL2 {
	width: 100%;
	max-width: 1000px;
	margin: 0px;
	cursor: pointer;
}

.imageLgallery {
	width: 100%;
	max-width: 1000px;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 40px;
	
}

.imageP {
	width: 100%;
	max-width: 500px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 40px;
}

.imageP35mm {
	width: 100%;
	max-width: 450px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 40px;
}



/* youtube video */
.video-container {
width: 100%;
height: 100%;
max-height: auto;
max-width: 1000px;
align-content: center;
padding: 0;
padding-top: 15px;
padding-bottom: 40px;
}

.video-container iframe,
.video-container object,
.video-container embed {
width: 100%;
height: 100%;
max-height: auto;
max-width: 1000px;
align-content: center;
padding: 0;
padding-top: 15px;
padding-bottom: 40px;
}
















/* scrollbar */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}










/* Youtube video auto-resizer script */
 
$(document).ready(function() {
  if(typeof YOUTUBE_VIDEO_MARGIN == 'undefined') {
    YOUTUBE_VIDEO_MARGIN=5;
  }
  $('iframe').each(function(index,item) {
    if($(item).attr('src').match(/(https?:)?\/\/www\.youtube\.com/)) {
      var w=$(item).attr('width');
      var h=$(item).attr('height');
      var ar = h/w*100;
      ar=ar.toFixed(2);
      //Style iframe    
      $(item).css('position','absolute');
      $(item).css('top','0');
      $(item).css('left','0');    
      $(item).css('width','100%');
      $(item).css('height','100%');
      $(item).css('max-width',w+'px');
      $(item).css('max-height', h+'px');        
      $(item).wrap('<div style="max-width:'+w+'px;margin:0 auto; padding:'+YOUTUBE_VIDEO_MARGIN+'px;" />');
      $(item).wrap('<div style="position: relative;padding-bottom: '+ar+'%; height: 0; overflow: hidden;" />');
    }
  });
});






</style>

